# dependências
node_modules/
backend/node_modules/
frontend/node_modules/

# variáveis de ambiente (Proteção de Chaves!)
.env
.env.*
!.env.example
.env.local

# credenciais do firebase admin
serviceAccountKey.json
backend/serviceAccountKey.json
backend/serviceAccountKey.json.json
*serviceAccountKey*.json

# build do next.js e firebase
.next/
out/
frontend/.next/
frontend/out/
.firebase/
frontend/.firebase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos do SO
.DS_Store
Thumbs.db
